body {
    font-family: Arial, sans-serif;
    background-color: #d6d7e3;
    margin: 0;
    padding: 20px;
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    height: auto; /* Take full height of the viewport */
    margin-top: 4%;
    text-align: left;
}

/* Start screen styles */
#start-screen {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between elements */
    margin-bottom: 20px;
}


h1{
    padding-top: 30px;
}

.ti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

p {
    margin-bottom: 0px;
}

#start-screen .ti button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(255, 255, 255);
    width: auto;
    color: black;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, border 0.3s;
}

#start-button{
    position: relative;
    width: auto;
    max-width: 150px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border: none;
    color: #f9f9f9;
    background-color: #6417ff;
    margin-top: 20px;
}

#start-button:hover{
    transition: 0.2s;
    background-color: #7530ff;
}


#start-screen .ti button:hover {
    transition: 0.3s;
    filter: drop-shadow(2px 2px #712aff);
}

/* Add green background when selected */
#start-screen .ti .selected {
    background-color: #e4e6ff; /* Light blue for selected */
    filter: drop-shadow(2px 2px #712aff); /* Keep shadow effect */
}


#chapter-selection button.selected {
    background-color: #e4e6ff; /* Light blue for selected */
    filter: drop-shadow(2px 2px #712aff); /* Keep shadow effect */
}


.container {
    width: 100%; /* Set width to 100% of its parent */
    max-width: 600px; /* Limit max width to 600px */
    height: auto;
    background: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Add overflow to handle content */
    position: relative; /* For positioning the question counter */
}


#options {
    margin-bottom: 20px;
    margin-top: 30px; 
}

#question {
    font-size: 18pt;
    padding-top: 50px;
    text-align: left;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    color: black;
    border: 1.5px solid #fff; /* Light gray border */
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    transition: border-color 0.2s; /* Smooth transition for border color */
}

#next-button {
    display: block;
    width: auto;
    padding-right: 30px;
    margin-top: 20px;
    padding-left: 30px;
    background-color: #ffffff;
    float: right;
}


.button-icon {
    width: 100%; /* Juster størrelsen på bildet om nødvendig */
    height: auto;
}

button:hover {
    border-color: #af99da; /* Darker gray on hover for visibility */
}

.correct {
    background: #b7ffb7; /* Green for correct answers */
    border-color: #6bc26b; /* Darker green border for correct answers */
    color: black;
}

.incorrect {
    background: #ffaba9; /* Red for incorrect answers */
    border-color: #e57373; /* Darker red border for incorrect answers */
    color: black;
}

#question-counter {
    position: absolute; /* Position it absolutely in the container */
    right: 20px; /* Right margin */
    font-size: 14px; /* Smaller font size */
    color: gray; /* Gray color for the counter */
}

#tittel {
    position: absolute; /* Position it absolutely in the container */
    top: 10px; /* Top margin */
    left: 20px; /* Right margin */
    font-size: 14px; /* Smaller font size */
    color: gray; /* Gray color for the counter */
}

#feedback {
    margin-top: 40px; /* Add space above feedback */
    font-size: 16px; /* Font size for feedback */
    color: black; /* Ensure feedback text is visible */
}

#myChart {
    margin-bottom: 20px;
}

#chart-container {
    display: none; /* Hide chart by default */
    margin-top: 20px; /* Add some space above the chart */
}

/* Progress bar styles */
#progress-bar {
    display: flex;
    gap: 1px;
    margin-top: 20px;
    height: 20px;
    justify-content: flex-start; /* Align items to start from the left */
}

/* Default styling for each question block */
.question-block {
    flex: 1;
    background-color: #e0e0e0; /* Grå bakgrunn som standard */
    border-radius: 1px;
    transition: background-color 0.3s;
}

/* Style for the first block */
.question-block:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Style for the last block */
.question-block:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Green for correct answers */
.correct-answer {
    background-color: #b7ffb7;
}

/* Red for incorrect answers */
.incorrect-answer {
    background-color: #ffaba9;
}
